@import '@/styles/_variables.scss';

.container {
  margin-top: 90px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;

  .mainBlock {
    border-bottom: 1px solid $color-grey-border;
  }

  .passwordBlock {
    margin-top: 40px;
    border-bottom: 1px solid $color-grey-border;
  }

  .emailBlock {
    margin-top: 40px;
  }

  .submitForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;

    .button {
      display: flex;
      justify-content: center;
    }

    .text {
      margin-left: 12px;
      color: $color-grey-input;
      font-family: Arial;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
