@import '@/styles/_variables.scss';

.wrapper {
  padding-top: 40px;

  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .inputCheckboxForm {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;
  }

  .inputCheckbox {
    position: absolute;
    left: 170px;
  }

  .text {
    position: absolute;
    left: 360px;
  }

  .inputPhone {
    width: 335px;
    border: 1px solid $color-grey-input;
    padding: 6px 12px;

    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-right: 770px;

    &:focus {
      outline: none;
    }
  }
}