@import '@/styles/_variables.scss';

.wrapper {
	padding-top: 90px;
	border-bottom: 1px solid $color-grey-border;

	.input {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}
}