@import '@/styles/_variables.scss';

.inputBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .label {
    color: $color-black;
    font-family: Arial;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
  }

  .input {
    width: 335px;
    border: 1px solid $color-grey-input;
    padding: 6px 12px;

    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-right: 770px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-text;
    }

    &:placeholder-shown {
      color: $color-black;
    }

    &:checked {
      background-color: $color-green;
    }
  }
}
