// colors
$color-black: #000;
$color-white: #fff;
$color-grey-border: #e5e4e4;
$color-grey-text: #7e7e7e;
$color-grey-title: #666666;
$color-grey-input: #999999;
$color-red: #ff0000;
$color-green: #71c838;

// fonts
@font-face {
  font-family: 'Arial';
  font-style: normal;
  src: local('Arial Normal'), url('./fonts/ArialMT.woff'), format('woff');
}

@font-face {
  font-family: 'Arial';
  font-style: italic;
  src: local('Arial Italic'), url('./fonts/Arial-ItalicMT.woff'), format('woff');
}

// extensions
$mobile-l: 680px;
$mobile: 768px;
$desktop-s: 880px;
$desktop: 1280px;
$laptop: 1440px;
$laptop-l: 1700px;
